*{
	margin:0;
	padding:0;
}
body{
	font-family:"맑은고딕", sans-serif;
	color:#333;
	background-color:#fff;
}
a{
	color:#333;
	text-decoration:none;
}
ul { list-style: none;}
#wrapper{
	width:1000px;
}
/* 헤더 영역 */
header{
	width:200px;
	height:650px;
	float:left;
	background-color:#eee;
}
.logo {
	width:200px;
	height:100px;
}
.logo img {
	margin:30px 0;	
}
.menu {
	width:160px;
	text-align:center;
	margin-left:10px;
}
.navi > li > a{
	display:block;
	width:180px;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	background-color:#222328;
}
.navi > li > a:hover{
	background-color:#930930;
	color:#ff0;
}
.submenu{
	width:180px;
	background-color:#ccc;
	display : none;
}
.submenu > li > a{
	width:180px;
	display:block;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	background-color:#ccc;
	color:#fff;
}
.submenu > li > a:hover{
	background-color:#999;
	color:#ff0;
}
.imgslide{
	width:800px;
	height:350px;
	float:right;
	position:relative;
	
}
.imgslide a{
	display:block;
	position:absolute;
	top:0;
	left:0;
}
.imgtext{
	width:300px;
	height:50px;
	text-align:center;
	line-height:50px;
	background-color:rgba(40,40,40,0.3);
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	margin:-25px 0 0 -150px;
}
.contents{
	width:800px;
	height:200px;
	float:right;
}
.tabMenu{
	width:290px;
	height:180px;
	margin:10px 0 10px 5px;
	float:left;
	position : relative;
}
.tabMenu > li {
	width:80px;
	line-height:30px;
	float:left;
}
.tabMenu > li > a {
	display:block;
	font-size:16px;
	text-align:center;
	background-color:#ccc;
	border:1px solid purple;
	border-bottom:none;
}
.tabMenu > li > a:hover{
	background-color:#eee;
}
.tabMenu > li:first-child a{
	border-right:none;
}
.tabMenu > li.active > a:{
	background-color:#fff;
}
.tabMenu > li div {
	position:absolute;
	left:0;
	height:0; 
	overflow:hidden;
}
.tabMenu > li.active div{
	border:1px solid purple;
	height:148px;
	width:288px;
	z-index:1;
}
.notice ul{
	width:288px;
	margin:12px 0;
}
.notice ul li{
	height:32px;
	line-height:32px;
	font-size:13px;
	margin:0 10px;
}
.notice li:nth-child(2n){
	background-color:#ccc;
}
.notice li span {
	float:right;
}
.gallery li {
	float:left;
	margin:20px 0 0 5px;
}
.gallery img {
	width:70px;
	height:90px;
	padding:10px;
}
.gallery li:hover{
	opacity:0.5;
}
.banner{
	width:295px;
	height:180px;
	float:left;
	margin:10px 0;
	position:relative;
}
.banner img{
	width:295px;
	height:180px;
}
.bntext{
	width:200px;
	height:40px;
	text-align:center;
	line-height:bold;
	background-color:rgba(40,40,40,0.3);
	color:#fff;
	position:absolute;
	top:70px;
	left:48px;
}
.banner img:hover{ opacity:0.5;}

.shortcut{
	width:200px;
	height:180px;
	float:right;
	margin:10px 0;
	position:relative;
}
.shortcut img{
	width:200px;
	height:180px;
}	
.sctext{
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:rgba(40,40,40,0.3);
	top:70px;
	color:#fff;
	position:absolute;
	left:50px;
}
.shortcut:hover{
	opacity:0.5;
}
footer{
	width:800px;
	height:100px;
	float:right;
}
.btlogo{
	width:200px;
	height:100px;
	float:left;
}
.btlogo img{
	margin-top:30px;
}
.site{
	width:600px;
	height:100px;
	float:right;
}
.btmenu{
	width:600px;
	height:50px;
	text-align:center;
	font-size:14px;
}
.btmenu li{
	display:inline-block;
	width:100px;
	line-height:50px;
}
.copy{
	width:600px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:14px;
}
#modal{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	z-index:10;
	display:none;
}
#modal.active {
	display:block;
	
}
.modal_up{
	width:400px;
	height:300px;
	background-color:#fff;
	position:fixed;
	top:40%;
	left:40%;
}
.uptitle{
	margin-top:20px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.upbody{
	padding:20px;
	text-align:center;
	line-height:25px;
}
.btn{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	font-size:15px;
	font-weight:bold;
	background-color:#ccc;
	border-radius:3px;
	position:absolute;
	bottom:10px;
	right:10px;
	cursor:pointer;
}